@page
@model IssWebRazorApp.ScheduleAnswers.EditModel

<h4>ScheduleAnswerData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ScheduleAnswerData.ScheduleId" />
            <input type="hidden" asp-for="ScheduleAnswerData.UserId" />
            <input type="hidden" asp-for="ScheduleAnswerData.CreateDate" />
            <input type="hidden" asp-for="ScheduleAnswerData.LastUpdateDate" />
            <div class="form-group">
                <label asp-for="ScheduleAnswerData.Answer" class="control-label"></label>
                <select asp-for="ScheduleAnswerData.Answer" asp-items="@Model.AnswerList" class="form-control"></select>
                <span asp-validation-for="ScheduleAnswerData.Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleAnswerData.Comment" class="control-label"></label>
                <textarea asp-for="ScheduleAnswerData.Comment" class="form-control" ></textarea>
                <span asp-validation-for="ScheduleAnswerData.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
