@page
@model IssWebRazorApp.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserData</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="text-danger">@Model.Message</div>
            <div class="row">
                <div class="form-group col-6">
                    <label>選手 / スタッフ</label>
                    <select asp-for="UserData.UserType" class="form-control" asp-items="Model.UserTypeList"></select>
                    <span asp-validation-for="UserData.UserType" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label>背番号</label>
                    <input asp-for="UserData.UniformNumber" class="form-control" />
                    <span asp-validation-for="UserData.UniformNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label>ポジション</label>
                <select asp-for="UserData.PositionId" class="form-control" asp-items="Model.PositionList"></select>
            </div>
            <div class="form-group">
                <label>ログインID</label>
                <input asp-for="UserData.LoginId" class="form-control" />
                <span asp-validation-for="UserData.LoginId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>表示用ユーザー名</label>
                <input asp-for="UserData.DisplayName" class="form-control" />
                <span asp-validation-for="UserData.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>ログインパスワード</label>
                <input asp-for="UserData.LoginPassword" class="form-control" />
                <span asp-validation-for="UserData.LoginPassword" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label>性(漢字)</label>
                    <input asp-for="UserData.LastNameKanji" class="form-control" />
                    <span asp-validation-for="UserData.LastNameKanji" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label>名(漢字)</label>
                    <input asp-for="UserData.FirstNameKanji" class="form-control" />
                    <span asp-validation-for="UserData.FirstNameKanji" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label>性(英語表記)</label>
                    <input asp-for="UserData.LastNameRoman" class="form-control" />
                    <span asp-validation-for="UserData.LastNameRoman" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label>名(英語表記)</label>
                    <input asp-for="UserData.FirstNameRoman" class="form-control" />
                    <span asp-validation-for="UserData.FirstNameRoman" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label>出身校</label>
                <input asp-for="UserData.Education" class="form-control" />
                <span asp-validation-for="UserData.Education" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label>身長[cm]</label>
                    <input asp-for="UserData.Height" class="form-control" />
                    <span asp-validation-for="UserData.Height" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label>体重[kg]</label>
                    <input asp-for="UserData.Weight" class="form-control" />
                    <span asp-validation-for="UserData.Weight" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label>認証コード</label>
                <input asp-for="UserData.AuthenticationCode" class="form-control" />
                <span asp-validation-for="UserData.AuthenticationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
